<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <form action="/auth/signup" method="POST">
      <div>
        <label for="username">Username</label>
        <input
          id="username"
          name="username"
          placeholder="Username"
          type="text"
          minlength="4"
          value="<%- values.username %>"
        />
        <% if (errors?.username) { %>
        <p><%- errors?.username.msg %></p>
        <% } %>
      </div>
      <div>
        <label for="email">Email</label>
        <input
          id="email"
          name="email"
          placeholder="Email"
          type="email"
          value="<%- values.email %>"
        />
        <% if (errors?.email) { %>
        <p><%- errors?.email.msg %></p>
        <% } %>
      </div>
      <div>
        <label for="password">Password</label>
        <input
          id="password"
          name="password"
          type="password"
          placeholder="Password"
          minlength="8"
          value="<%- values.password %>"
        />
        <% if (errors?.password) { %>
        <p><%- errors?.password.msg %></p>
        <% } %>
      </div>
      <div>
        <label for="confirm-password">Confirm password</label>
        <input
          id="confirm-password"
          name="confirm-password"
          type="password"
          placeholder="Confirm password"
          minlength="8"
          value="<%- values['confirm-password'] %>"
        />
        <% if (errors?.['confirm-password']) { %>
        <p><%- errors?.['confirm-password'].msg %></p>
        <% } %>
      </div>
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
<!DOCTYPE html>
